[submodule "CryptoPkg/Library/OpensslLib/openssl"]
	path = CryptoPkg/Library/OpensslLib/openssl
	url = ssh://gerrit.dc.com:29418/uefi/edk2/openssl
[submodule "UnitTestFrameworkPkg/Library/CmockaLib/cmocka"]
	path = UnitTestFrameworkPkg/Library/CmockaLib/cmocka
	url = ssh://gerrit.dc.com:29418/uefi/edk2/cmocka
[submodule "MdeModulePkg/Universal/RegularExpressionDxe/oniguruma"]
	path = MdeModulePkg/Universal/RegularExpressionDxe/oniguruma
	url = ssh://gerrit.dc.com:29418/uefi/edk2/oniguruma
[submodule "MdeModulePkg/Library/BrotliCustomDecompressLib/brotli"]
	path = MdeModulePkg/Library/BrotliCustomDecompressLib/brotli
	url = ssh://gerrit.dc.com:29418/uefi/edk2/brotli
[submodule "BaseTools/Source/C/BrotliCompress/brotli"]
	path = BaseTools/Source/C/BrotliCompress/brotli
	url = ssh://gerrit.dc.com:29418/uefi/edk2/brotli
	ignore = untracked
[submodule "RedfishPkg/Library/JsonLib/jansson"]
	path = RedfishPkg/Library/JsonLib/jansson
	url = ssh://gerrit.dc.com:29418/uefi/edk2/jansson
[submodule "UnitTestFrameworkPkg/Library/GoogleTestLib/googletest"]
	path = UnitTestFrameworkPkg/Library/GoogleTestLib/googletest
	url = ssh://gerrit.dc.com:29418/uefi/edk2/googletest
[submodule "UnitTestFrameworkPkg/Library/SubhookLib/subhook"]
	path = UnitTestFrameworkPkg/Library/SubhookLib/subhook
	url = ssh://gerrit.dc.com:29418/uefi/edk2/subhook
[submodule "MdePkg/Library/BaseFdtLib/libfdt"]
	path = MdePkg/Library/BaseFdtLib/libfdt
	url = ssh://gerrit.dc.com:29418/uefi/edk2/pylibfdt
[submodule "MdePkg/Library/MipiSysTLib/mipisyst"]
	path = MdePkg/Library/MipiSysTLib/mipisyst
	url = ssh://gerrit.dc.com:29418/uefi/edk2/mipisyst
[submodule "CryptoPkg/Library/MbedTlsLib/mbedtls"]
	path = CryptoPkg/Library/MbedTlsLib/mbedtls
	url = ssh://gerrit.dc.com:29418/uefi/edk2/mbedtls
[submodule "SecurityPkg/DeviceSecurity/SpdmLib/libspdm"]
	path = SecurityPkg/DeviceSecurity/SpdmLib/libspdm
	url = ssh://gerrit.dc.com:29418/uefi/edk2/libspdm
